* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.form-control:focus {
  border-color: #ff0000;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.has-error .form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
}

#button {
font-size:18pt;
color:white;
background-color:green;
border:2px solid #336600;
padding:3px
}

.collapsible {
  color: white;
  background-color: green;
}

.greenfonty {
  color: green;
}
.greenishfonty {
  color: #3FBF00
}
.redishfonty {
  color: #BF3F00
}
.redfonty {
  color: #FF0000
}

body {
  background-image: url("../src/DSC_0064.JPG");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat
}

.js-plotly-plot {
  margin-left: -30px;
}

.redback {
  border:10px solid #FF0000
}

.greenback {
  border:10px solid green
}