{% extends "base.html" %}
{% block content %}
<br>
<br>

<div class="container" style="background: rgba(255,255,255,.6);">
    
    <div class="row">
        <div class="col-md-12">
                <h3>Course</h3>
        </div>    
    </div>    
    
    <div class="row">
        <div class="col-md-12">
            <div class="JumboTronBro">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="PredictedWindBro">
            </div>
        </div>
        <div class="col-md-6">
            <div class="PredictedRainBro">
            </div>
        </div>    
    </div>
                

    <div class="row">
        <div class="col-md-6">
            <div class="Name1">
            <!-- Figure out how to Plug in Name as a heading -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="Name2">
                <!-- Figure out how to Plug in Name as a heading -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
                <!-- Left Justify! -->
            <div class="Badge1a">
            </div>
        </div>
        <div class="col-md-6">
            <div class="Badge1b">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="Badge2a">
            </div>
        </div>
        <div class="col-md-6">
            <div class="Badge2b">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="Badge3a">
            </div>
        </div>
        <div class="col-md-6">
            <div class="Badge3b">
            </div>
        </div>
    </div>

    <h2>Career Stats</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="Boxplota">
            </div>
        </div>
        <div class="col-md-6">
            <div class="Boxplotb">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="Counta">
            </div>
        </div>
        <div class="col-md-2">
            <div class="Meana">
            </div>
        </div>
        <div class="col-md-2">
            <div class="StandardDeva">
            </div>
        </div>
        <div class="col-md-2">
            <div class="Countb">
            </div>
        </div>
        <div class="col-md-2">
            <div class="Meanb">
            </div>
        </div>
        <div class="col-md-2">
            <div class="StandardDevb">
            </div>
        </div>                                                                          
    </div>
    
    <h2>Predicted Score</h2>
    
    <div class="TheOddsBar"></div>


    <script src="{{ url_for('static', filename='js/career.js') }}"></script>

{% endblock content %}